<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Jimmy's Pokédex</title>
  </head>
  <body>
    <h1>Welcome to Jimmy's Pokédex Project!</h1>
    <p>
      Try visiting <code>/pokemon/pikachu</code> or use the search bar below!.
    </p>
    <form action="/pokemon" method="get">
      <input
        type="text"
        name="name"
        placeholder="Enter a Pokemon name"
        required
      />
      <button type="submit">Search</button>
    </form>
  </body>
</html>
